%div.levels
  - if @questions
    - @levels.each do |l|
      %div.level
        = link_to "#{l.name}", random_question_path(l.name), data: {type: :html}, id: 'random_question', class: "levels_button #{l.name.downcase}" if !l.questions.blank?
  - else
    Aucune question